<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
</head>
<body style="text-align:center">
    <h2>[{{ current_image }}] {{ num_nam }}</h2>
    {% for image_name in images %}
		<img src="{{ url_for('static', filename='images/' + image_name) }}" alt="{{ image_name }}">
	{% endfor %}

    <form method="POST">
        <label for="team_id">picture:</label>
        <input type="text" id="pic_nam" name="pic_nam" value="{{ num_nam }}" readonly><br/>
        <label for="team_id">label :</label>
        <input type="text" id="label" name="label" value="{{ label }}"><br/>
        <input type="text" id="cnocr" name="cnocr" value="{{ cnocr_label }}"><br/>
        <input type="hidden" name="current_image" value="{{ current_image }}">
        <input type="submit" name="submit" value="Previous">
        <input type="submit" name="submit" value="Next">
    </form>
</body>
</html>
